.chat
    .notification

    .chat-side
        .chat-side__user
            .chat-side__user-content
                .chat-side__user-content__name userName
                = link_to  ' ', "/groups/new", id: "new-group", class: "fa fa-pencil-square-o"
                = link_to ' ', "/user/edit", id: "edit-user", class: "fa fa-cog"
        .chat-side__groups
            .chat-side__groups-list

    .chat-main
        .chat-main__header
            .chat-main__header--group
                .chat-main__header--group-name groupName
                = link_to 'Edit', '/groups/group_id/edit', class: "chat-main__header--group-edit-button"
            .chat-main__header--members MEMBER:
        .chat-main__body
            .chat-main__body--messages-list
                .chat-main__messages
                    .chat-main__messages-name name
                    .chat-main__messages-time date
                    .chat-main__messages-body text
        .chat-main__footer
            = form_for @message
