.chat {
    @include clearfix();
    width: 100%;
    height: 100%;

    .notification {
        background-color: #38AEF0;
    }

    &-side {
        float: left;
        background-color:#253141;
        width: 300px;
        height: 100vh;
        &__user {
            background-color: #090c10;
            width: 100%;
            height: 15%;
            position: relative;
            &-content {
                width: 100%;
                height: 50px;
                line-height: 50px;
                margin: auto 0;
                position: absolute;
                top: 0;
                bottom: 0;
                &__name {
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                    margin: 0 20px;
                    position: relative;
                    display: inline-block;;
                }
                a {
                    color: white;
                    display: inline-block;
                }
                #new-group {
                    margin-left: 90px;
                }
                #edit-user {
                    margin: 0 auto;
                }

            }
        }
        &__groups {
            width: 300px;
            height: 85%;
            &-list {
                color: white;
                padding: 20px;
                h6 {
                    font-size: 16px;
                }
                p{
                    font-size: 11px
                }
            }
        }
    }
    &-main {
        width: calc( 100vw - 300px );
        height: 100vh;
        float: left;
        &__header {
            height: 15%;
            border: 1px solid #eee;
            &--group {
                @include clearfix();
                margin: 0 40px;
                &-name {
                    font-size: 20px;
                    color: #333333;
                    margin: 35px 0 15px;
                    float: left;
                }
                &-edit-button {
                        color: #38AEF0;
                        font-size: 15px;
                        padding: 12.5px 20px;
                        margin: 28px 20px 0;
                        border: 1px solid #38AEF0;
                        float: right;
                }
            }
            &--members {
                    color: #999;
                    font-size: 12px;
                    margin: 0 40px;
                    }
        }
        &__body {
            height: calc( 100vh - 15% - 92px);
            &--messages-list {
                padding-top: 26px;
                padding-left: 40px;
                .chat-main__messages {
                    padding: 20px 0;
                    &-name {
                        color: #434A54;
                        font-size: 16px;
                        font-weight: bold;
                        float: left;
                     }
                    &-time {
                        color: #999;
                        font-size: 12px;
                        padding: 0 10px 10px 10px;
                    }
                    &-body {
                        color: #434A54;
                        font-size: 14px;
                    }
                 }
            }
        }
        &__footer{
            width: 100%;
            height: 90px;
            background-color: #B8C3C7;
            &-form {
                height: 90px;
                margin: 0 40px;
                position: relative;
            }
            &-body {
                position: relative;
                .message {
                    width: calc( 100% - 130px );
                    font-size: 16px;
                    color: #434A54;
                    border: none;
                    resize: none;
                    padding: 15px 10px;
                    margin: 20px 0 16px 0 ;
                }
                 &__label {
                    width: 40px;
                    height: 50px;
                    position: absolute;
                    margin: 32px 130px 20px 0;
                    top: 0;
                    right: 0;
                    #message_image{
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        display: none;
                    }
                }
            }
            .submit {
                width: 100px;
                height: 50px;
                color: #fff;
                background-color: #38AEF0;
                text-align: center;
                margin: 20px 0 20px 25px;
                top: 0;
                right: 0;
                border: none;
                position: absolute;
            }
        }
    }
}
